

 <!--============================================================================================-->
      <!--Footer-->
      <!--============================================================================================-->
  
      <div class="footer">
        <div class="container">
            <nav class="row ">
                <div class="col-6 ">
                    <h4 class="display-6">Derechos de autor</h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet error esse aspernatur alias porro, debitis cupiditate quis tempore fugiat pariatur itaque repellat eligendi consectetur sunt quia reiciendis sed quo?</p>
                </div>
                <ul class="col-6 list-unstyled ">
                    <li class="font-weigth-bold text-uppercase">Enlaces rápidos</li>
                    <li class="d-flex justify-content-around">
                      <button type="button" class="btn btn-social-icon btn-outline-facebook "><i class="fa fa-facebook "></i></button>
                    </li>
  
                </ul>
  
            </nav>
        </div>
        
    </div>
  
