<app-menu></app-menu>

<section class="container d-flex">
    <div class="row no-gutters justify-content-center">
      <div class="col-xl-5 col-lg-12">
        <h3 class="font-weight-bold text-darck">Únete a nuestra familia</h3>
        <p class="lead text-darck">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur eveniet exercitationem odio laborum alias accusamus recusandae cupiditate praesentium quas ipsam eius doloribus, quidem dolores ea rerum perspiciatis quo consectetur debitis!</p>

      </div>
      
      
      <div class="col-xl-5 col-lg-12 d-flex">
        <div class="container align-self-center p-6">
            <h2 class="font-weight-bold text-uppercase pt-3" >Regístrate Gratis</h2>
            <p>Ingresa la informacion para registrarte</p>
            <div class="form-row mb-3">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Campo nombre">
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Apellido <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Campo apellido">
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bold">Dirección <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Campo dirección">
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bold">Telefono <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Campo telefono">
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bold">Fecha de nacimiento <span class="text-danger">*</span></label>
                <input type="date" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bold">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" placeholder="Campo email">
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bold">Contraseña <span class="text-danger">*</span></label>
                <input type="password" class="form-control" placeholder="Campo contraseña">
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bold">Confirmar contraseña <span class="text-danger">*</span></label>
                <input type="password" class="form-control" placeholder="Campo confirmar contraseña">
            </div>
            <div class="form-group mb-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label text-muted">Al seleccionar esta casilla aceptas nuestro aviso de privacidad y los términos y condicciones</label>
                </div>
                
            </div>
            <button class="btn btn-primary" type="submit">Registrarse</button>

        </div>

      </div> 
    </div>

</section>

